<configuration>
  <configSections>
    <section name="akka"
             type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>

  <akka>
    <hocon>
      <![CDATA[
          akka.persistence{
	            journal {
                plugin = "akka.persistence.journal.sql-server"
		            sql-server {
			            # qualified type name of the SQL Server persistence journal actor
			            class = "Akka.Persistence.SqlServer.Journal.SqlServerJournal, Akka.Persistence.SqlServer"

			            # dispatcher used to drive journal actor
			            plugin-dispatcher = "akka.actor.default-dispatcher"

			            # connection string used for database access
			            connection-string = ""

			            # default SQL commands timeout
			            connection-timeout = 30s

			            # SQL server schema name to table corresponding with persistent journal
			            schema-name = dbo

			            # SQL server table corresponding with persistent journal
			            table-name = ActorEventJournal

			            # should corresponding journal table be initialized automatically
			            auto-initialize = on

			            # timestamp provider used for generation of journal entries timestamps
			            timestamp-provider = "Akka.Persistence.Sql.Common.Journal.DefaultTimestampProvider, Akka.Persistence.Sql.Common"

			            # metadata table
			            metadata-table-name = Metadata
		            }
	            }
            }
            
          akka {
            # here we are configuring log levels
            log-config-on-start = off
            stdout-loglevel = INFO
            loglevel = ERROR
            # this config section will be referenced as akka.actor
            actor {
              actor {
                serializers {
                  hyperion = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
                }
                serialization-bindings {
                  "System.Object" = hyperion
                }
              }
            }
          }
          
      ]]>
    </hocon>
  </akka>
  
</configuration>
